# General
APP_NAME=
NODE_ENV=development
SECRET=
NEWRELIC_KEY=
# PORTS
# API PORTS
API_PORT=8080
API_WSPORT=8081
# CONFIG PORT
CONFIG_PORT=8070
# SSO PORT
SSO_PORT=8090
#LOGS
LOGDir=./logs
LOGFormat=dev
CORSOrigin=false
CORSCredentials=false
ENCRYPTION_KEY=<shard key when redis unlock or lock data>
SALT=
SECRET_TOKEN=
LINK_DOMAIN=http://localhost:8081
MICROSERVICE_MSG_BROKER=
MICROSERVICE_MSG_QUE_NAME_FORMAT="##DestSericeGroupName##::##EventName##"
MICROSERVICE_MSG_WORKER_EXCHANGE=microservices_messages
NEWRELIC_ENABLE=0
# JWT
ISSUER=info@partyTicker.com
Audience=localhost
JWT_EXPIRE=60
# Data base
DATABASE_URL="postgresql://localhost"
SHADOW_DATABASE_URL="postgresql://localhost"
DB_REDIS_CACHING_KEY=DBCACHING_LIST
PUB_SUB_URL=0.0.0.0:8081/subscriptions
# Redis
REDIS_URL=redis://127.0.0.1:6379/0
REDIS_DEFAULT_EXPIRE=20

# Service Gateways
ConfigService_Host=http://localhost:18008/
APIGateWay_Host=http://localhost:8080/
SSO_Host=http://localhost:8090/

# GRAPHQL Settings
GRAPH_QL_MAX_DEPTH= 10

# SENDGRID SETTINGS
SENDGRID_API_KEY=

# Mail Settings
MAIL_FROM=
# Auth0 integration
AUTH0_CLIENT_ID=
AUTH0_DOMAIN=
AUTH0_CLIENT_SECRET=
AUTH0_JWKS=
AUTH0_Audience=

